.row{
	margin-left: 0px;
	margin-right: 0px;
}
span{
	margin-left: 1%;
	margin-right: 1%;
}
.green{
	color: green;
}
.table{
	font-size: 20px;
	width: auto;
}
td{
	width: 50px;
	text-align: center;
}
#ways{
	margin-left: 0px;
	margin-right: 0px;
	color: #0f0;
}
.blueTd{
	background-color: #00f; 
	color: #fff;
}
.redTd{
	background-color: #f00; 
	color: #fff;
}
.inputRow>div{
	display: inline;
}